.container-o{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.top-div{
    position: absolute;
    width: 60%;
    height:65%;
    background: rgb(161, 28, 28);
    color: white;
    right:8%;
    bottom: 14%;
    border-radius: 20px;
    /* display: flex;
    justify-content: center; */
    /* align-items: right; */
}
.mis-vis{
    width: 65%;
    height: 100%;
    /* background: gold; */
    position: absolute;
    top: -7%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-left: 20px;
    padding-right: 20px;
    
    /* left: 20%; */
    /* position: absolute; */
}
.mission
{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    /* background: red; */
}
/* .vission{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: blue;
} */

.mission h3{
    font-size: 2.2rem;
}
.mission p{
    text-align: justify;
}
.mission p,.mission h3{
    /* margin-top: 10px; */
    margin-bottom: 10px;
}
.bottom-div img{
   
    width:100%;
    height: 100%;
    border-radius:20px ;
}
.bottom-div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 10%;
    width:40%;
    height: 50%;
    background: white;
    z-index: 2;
    border-radius: 20px;
}