.header, .footer {
  background-color:  #001627;
  color: white;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home{
  width: 100%;
}
.card1{
  width:100%;  
  background-color: rgb(255, 255, 255);
  color: white; 
  position:sticky;
  top: 0;
}
.card2 {
  width: 100%;
  height: 100%;
  /* font-size: 5rem;
  font-family: 'poppins'; */
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
 
  color: rgb(251, 240, 240);
  /* overflow: hidden; */
  position: sticky;
  top: 0;
  background:#ebe9e1 ;
  
}
@media (max-width:450px)
 {
  .card1{
    height: 150vh;
  }
  
}